form {
  transition: background-color 150ms ease-in;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 15px;
}

form:hover {
  background-color: rgb(39, 39, 39);
}

p {
  margin: 0;
}

mat-form-field {
  width: 10rem;
  margin: 0 0.5rem;
}

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button {
  width: 8rem;
  height: 3rem;
  outline: 1px rgb(76, 76, 76) solid;
  transition: outline ease 80ms;
  margin: 2rem auto 0.5rem;
  display: block;
}

button:hover {
  transition: outline ease 80ms;

  outline: 2px white solid;
}

mat-icon {
  margin-left: -4px;
}
