.grid {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  grid-template-areas:
    "hd hd"
    "as mn";
}

app-header {
  grid-area: hd;
}

app-aside {
  grid-area: as;
}

app-main {
  grid-area: mn;
}
