<form class="signin">
    <div class="form">
        <h1>Sign-in into account</h1>

        <div class="field">
            <label class="inactive" for="email">Email</label>
            <input class="" autocomplete="disabled" type="text" name="email" id="email" maxlength="190" tabindex="1">
        </div>

        <div class="field">
            <label class="inactive" for="password">Password</label>
            <input class="" autocomplete="new-password" type="password" name="password" id="password" tabindex="2">
            <i class="fa fa-eye"></i>
            <a class="forgot-password" href="#">Forgot Password?</a>
        </div>

        <div class="checkbox-form remember-me">
            <input type="checkbox" id="remember-me" tabindex="3">
            <label for="remember-me">
                Remember Me
            </label>
        </div>

        <button class=signin tabindex="4">Sign-in</button>

    </div>
    <div class="alternative-sign-dialog">
        Don't have an account? <a href="/sign-up.html">Create one now</a>
    </div>
</form>