<footer>
    <div class="container">
        <div class="promo">
            <div class="logo-section">
                <img src="./assets/images/logo.png" alt="the company logotype">
                <p class="header">Your choice of cloud</p>
                <p class="description">User experience enhanced with privacy</p>
            </div>

            <div class="links-section">
                <p>Follow Us</p>
                <div class="social-media">
                    <a href="">
                        <img src="./assets/images/twitter.png" alt="the twitter logo">
                    </a>
                    <a href="">
                        <img src="./assets/images/linkedin.png" alt="the linkedin logo">
                    </a>
                    <a href="">
                        <img src="./assets/images/youtube.png" alt="the youtube logo">
                    </a>
                    <a href="">
                        <img src="./assets/images/instagram.png" alt="the instagram logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="desktop columns">
            <div class="column">
                <p class="heading">PLATFORMS</p>
                <a routerLink="./platforms" fragment="web">Web App</a>
                <a routerLink="./platforms" fragment="extensions">Browser Extensions</a>
                <a routerLink="./platforms" fragment="mobile-apps">Mobile Apps</a>
            </div>
            <div class="column">
                <p class="heading">COMPANY</p>
                <a routerLink="/about">About Us</a>
                <a routerLink="/pricing">Pricing</a>
            </div>
            <div class="column">
                <p class="heading">SUPPORT</p>
                <a href="">Help Center</a>
                <a routerLink="/contact-us">Contact Us</a>
            </div>
            <div class="column">
                <p class="heading">LEGAL</p>
                <a href="">Privacy Policy</a>
                <a href="">Terms of Service</a>
                <a href="">Cookie Policy</a>
            </div>
        </div>
        <div class="mobile columns">
            <div class="paired-columns">
                <div class="column">
                    <p class="heading">PLATFORMS</p>
                    <a routerLink="./platforms" fragment="web">Web App</a>
                    <a routerLink="./platforms" fragment="extensions">Browser Extensions</a>
                    <a routerLink="./platforms" fragment="mobile-apps">Mobile Apps</a>
                </div>
                <div class="column">
                    <p class="heading">COMPANY</p>
                    <a routerLink="/about">About Us</a>
                    <a routerLink="/pricing">Pricing</a>
                </div>
            </div>
            <div class="paired-columns">
                <div class="column">
                    <p class="heading">SUPPORT</p>
                    <a routerLink="/contact-us">Contact Us</a>
                    <a href="">Contact Us</a>
                </div>
                <div class="column">
                    <p class="heading">LEGAL</p>
                    <a href="">Privacy Policy</a>
                    <a href="">Terms of Service</a>
                    <a href="">Cookie Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>