<div>
    <h1 class="mainlike">How we can help you?</h1>
    <form>
        <div class="contact form">
            <div class="field">
                <label class="inactive" for="topic">Topic</label>
                <input class="" autocomplete="disabled" type="text" name="topic" id="topic" maxlength="150" tabindex="1">
            </div>

            <div class="field">
                <label class="inactive" for="email">Email</label>
                <input class="" autocomplete="disabled" type="email" name="email" id="email" maxlength="50" tabindex="2">
            </div>

            <div class="field">
                <label class="inactive" for="username">Username</label>
                <input class="" autocomplete="disabled" type="text" name="username" id="username" maxlength="20" tabindex="3">
            </div>

            <div class="message field">
                <label class="inactive" for="message">Message</label>
                <textarea id="message" name="message" tabindex="4"></textarea>
            </div>

            <button class=submit tabindex="4">Submit</button>


        </div>
    </form>
</div>

<div class="other-options-section">
    <h2>Or you can write us</h2>
    <div class="options-panel mobile">
        <article>
            <h3 class="support">Get Support</h3>
            <p>Something is not working for you? Please check our Help Centre first. If your question isn’t answered there, do not hesitate to contact us.</p>
            <a href="">support@domain.com</a>
        </article>
        <article>
            <h3 class="copyright">Copyright</h3>
            <p>
                We take intellectual property rights seriously and enforce a robust takedown/repeat infringer policy. You can submit a takedown notice through our online form or send us an email.
            </p>
            <a href="">copyright@domain.com</a>
        </article>
        <article>
            <h3 class="privacy">Privacy</h3>
            <p> Enquiries and requests relating to our Privacy and Data Policy should be sent to: </p>
            <a href="">privacy@domain.com</a>
        </article>
        <article>
            <h3 class="security">Security</h3>
            <p>Please contact us about any security issue that you may have encountered.</p>
            <a href="">security@domain.com</a>
        </article>
        <article>
            <h3 class="bug">Report a Bug</h3>
            <p>If you run into a bug, we would appreciate hearing about it so that we can fix it - the more details you can provide, the better.</p>
            <a href="">bug@domain.com</a>
        </article>
        <article>
            <h3 class="improvments">Suggest improvements</h3>
            <p>Please submit feature requests and usability-related suggestions here.</p>
            <a href="">idea@domain.com</a>
        </article>
    </div>
    <div class="options-panel desktop">
        <article>
            <h3 class="support">Get Support</h3>
            <p>Something is not working for you? Please check our Help Centre first. If your question isn’t answered there, do not hesitate to contact us.</p>
            <a href="">support@domain.com</a>
        </article>
        <article>
            <h3 class="copyright">Copyright</h3>
            <p>
                We take intellectual property rights seriously and enforce a robust takedown/repeat infringer policy. You can submit a takedown notice through our online form or send us an email.
            </p>
            <a href="">copyright@domain.com</a>
        </article>
        <article>
            <h3 class="privacy">Privacy</h3>
            <p> Enquiries and requests relating to our Privacy and Data Policy should be sent to: </p>
            <a href="">privacy@domain.com</a>
        </article>
        <article>
            <h3 class="security">Security</h3>
            <p>Please contact us about any security issue that you may have encountered.</p>
            <a href="">security@domain.com</a>
        </article>
        <article>
            <h3 class="bug">Report a Bug</h3>
            <p>If you run into a bug, we would appreciate hearing about it so that we can fix it - the more details you can provide, the better.</p>
            <a href="">bug@domain.com</a>
        </article>
        <article>
            <h3 class="idea">Suggest improvements</h3>
            <p>Please submit feature requests and usability-related suggestions here.</p>
            <a href="">idea@domain.com</a>
        </article>
    </div>
</div>