@import "~normalize.css";
@import "~reset.css";

/* || General Rules */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background: url(./assets/images/white_pattern.png), #f8f8f8;
  color: var(--accent-dark);
  font-family: Source Sans Pro, sans-serif;
  scroll-behavior: smooth;
}

* {
  color: inherit;
}

:root {
  --bg-color: whitesmoke;
  --accent-light: #995f98;
  --accent: #764875;
  --accent-dark: #633863;
  --accent-darker: #532f53;
  --accent-darkest: #311b31;
  --active-nav-top: 80px;
}

app-root {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  gap: 3rem;
}

@media (min-width: 600px) {
  app-root {
    gap: 5rem;
  }
}

/* added this part too late, so in some places I have unique rules that need to stay so nothin'll break. also still need to keep account for specificity*/

.desktop {
  display: none;
}

@media (min-width: 600px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

.red {
  color: rgb(207, 2, 2);
}

/* || Header */

/* don't ask, need app-header to be sticky since its gets scrolled. left header.position:sticky here too in case selectors get removed in the end*/
app-header {
  position: sticky;
  z-index: 1;
  top: 0;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.023);
  z-index: 1;
}

/* want for header to shrink when scrolled */

header.full {
  transition: padding 0.6s ease-in;
  padding: 1rem;
}

header.shrinked {
  transition: padding 1s ease-in;
  padding: 0.3rem;
}

.logo {
  object-fit: cover;
}

.logo.full {
  /* just using pixels for the sample logo, not sure why max */
  max-width: 110px;
  transition: max-width 0.6s;
}
.logo.shrinked {
  max-width: 90px;
  transition: max-width 1s;
}

nav {
  width: 100vw;
  background-color: hsl(0, 0%, 98%);
  position: absolute;
  right: 0;
  z-index: 0;
}

nav.active {
  top: var(--active-nav-top);
  transition: top 0.5s ease-in;
}

nav.inactive {
  top: -210px;
  transition: top 0.5s ease-out;
}

@media (min-width: 600px) {
  header.full {
    padding: 1rem 6rem 1rem 5rem;
  }

  header.shrinked {
    padding: 0.8rem 4.8rem 0.8rem 4rem;
  }

  .logo.full {
    /* just using pixels for the sample logo, not sure why max */
    max-width: 156px;
  }
  .logo.shrinked {
    max-width: 120px;
  }

  nav {
    width: auto;
    height: auto;
    background-color: inherit;
    position: static;
    display: block;
    flex: 1 0 auto;
  }
}

menu {
  font-size: 20px;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  padding: 0.6rem 1.2rem;
}

menu li {
  width: calc(100vw - 2rem);
  text-align: center;
  margin: 0.5rem 0;
  padding: 0.3rem 0;
  background-color: hsl(0, 0%, 91%);
  border-radius: 9px;
  box-shadow: inset 0 0 2px 2px hsl(0, 0%, 94%), 0 0 2px 2px hsl(0, 0%, 95%);
}

menu li a {
  text-decoration: none;
}

@media (min-width: 600px) {
  menu {
    flex-direction: row;
    justify-content: start;
    padding: 0;
    gap: 2rem;
    margin-right: 1.5rem;
    margin-left: 3rem;
  }

  menu li {
    width: auto;
    padding: 0;
    background-color: inherit;
    border-radius: 0;
    box-shadow: none;
  }
}

.placeholder {
  /* purpose is to simulate the work of nav in putting everything in its place when the nav is out of normal flow.*/
  flex: 1 0 auto;
}

header > a.desktop {
  display: none;
}

/*added button.signup to nearly all anchor rules to get the same design and avoid code duplication. sorry, should've did it better right away*/

a.signin,
a.signup,
button.signin,
button.signup,
button.submit {
  width: fit-content;
  border-radius: 999px;
  height: 2.1rem;
  padding: 0 0.8rem;
  margin: 0 0.3rem;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
}

a.signin {
  border: solid 3px var(--accent);
  background: none;
  line-height: calc(2.1rem - 6px);
}

a.signin:hover {
  border-color: var(--accent-dark);
  background-color: #0000000c;
}

a.signin:active {
  border-color: var(--accent-darker);
  background-color: #0000001c;
}

a.signup,
button.signin,
button.signup,
button.submit {
  border: none;
  background: linear-gradient(70deg, #814b80, var(--accent) 40%, #995f98);
  color: #f6e8f5;
  font-weight: bold;
  line-height: 2.1rem;
}

a.signup:hover,
button.signin:hover,
button.signup:hover,
button.submit:hover {
  background: linear-gradient(70deg, #70426f, var(--accent-dark) 40%, #553254);
}

a.signup:active,
button.signin:active,
button.signup:active,
button.submit:active {
  background: linear-gradient(
    70deg,
    #683367,
    var(--accent-darker) 40%,
    #724d71
  );
}

@media (min-width: 600px) {
  a.signup.desktop {
    display: block;
  }

  a.signup.mobile {
    display: none;
  }

  a.signin,
  a.signup,
  button.signin,
  button.signup {
    font-size: 18px;
    height: 2.5rem;
    margin: 0 0.5rem;
    padding: 0 1.5rem;
  }

  a.signin {
    line-height: calc(2.5rem - 6px);
  }

  a.signup,
  button.signin,
  button.signup {
    line-height: 2.5rem;
  }
}

.buttons {
  width: 45px;
}

.menu-arrow {
  display: none;
  width: 35px;
  height: 35px;
  transform: rotate(45deg);
  margin-left: 0.5rem;
}

.menu-arrow div {
  position: relative;
  background-color: rgb(19, 19, 19);
  top: 9.5px;
  left: 9.5px;
}

.side1 {
  width: 25px;
  height: 5px;
}

.side2 {
  width: 5px;
  height: 20px;
}

.menu-btn {
  height: 40px;
  width: 40px;
  margin-left: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.menu-btn div {
  height: 5px;
  width: 30px;
  background-color: black;
}

@media (min-width: 600px) {
  .buttons {
    display: none;
  }
}

/* || Main */

router-outlet {
  display: none;
}

/* should be page component */
app-root > :nth-child(4) {
  /* not 1 0 auto cus that way main took no height */
  flex: 1 0 0;
  margin: -3rem auto;
  width: 100%;
}

@media (min-width: 600px) {
  app-root > :nth-child(4) {
    margin: -5rem auto;
  }
}

main {
  height: 100%;
  /* to negate body gap for this specific element. if breaks apart, return to manual margins for other middle elements*/
  background-color: #f5f5f5;
  background-image: inherit;
  box-shadow: 0 0 9px 5px #00000005;
  padding: 5rem 1rem;
}

.scroll-to-top {
  background: url(./assets/images/arrow_up.webp) white;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 999px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scroll-to-top.inactive {
  display: none;
}

.scroll-to-top.active {
  display: block;
}

.scroll-to-top:hover {
  background-color: hsl(0, 0%, 85%);
}

.scroll-to-top:active {
  background-color: hsl(0, 0%, 70%);
}

/* SORRYYYY */

h1,
h2,
h3 {
  font-weight: bold;
}

h1,
h2.h1like {
  font-size: 1.5rem;
  text-align: center;
  color: var(--accent-darker);
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.4rem;
}

main hr {
  width: 30%;
  margin: 3rem auto;
  border: solid 1px var(--accent-light);
}

@media (min-width: 600px) {
  h1,
  h2.h1like {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  main p {
    font-size: 1.4rem;
  }
}

button.signup {
  margin: 0 auto;
}

.extensions,
.mobile-apps {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.web,
.description {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  text-align: center;
}

.extensions .badges {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.extensions .badge {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 54px;
  min-width: 165px;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(31, 31, 31);
  color: white;
  text-decoration: none;
}

.extensions img {
  display: inline-block;
  height: 2.375rem;
  width: 2.375rem;
  object-fit: cover;
}

.extensions span {
  display: block;
}

.extensions .shared {
  font-size: 13px;
}

.extensions .unique {
  font-size: 18px;
  font-weight: bold;
}

.mobile-apps .badges {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

a.badge.googleplay img {
  width: 192px;
}

a.badge.appstore {
  padding: 12px;
}

a.badge.appstore img {
  border-radius: 13px;
  width: 150px;
}

@media (min-width: 600px) {
  .extensions,
  .mobile-apps {
    flex-flow: row nowrap;
    padding: 0 5rem 0 6rem;
    align-items: center;
    gap: 5rem;
  }

  .description {
    text-align: left;
  }

  .badges {
    margin: 0;
  }

  .extensions .badges {
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
  }

  .extensions .badge {
    height: 72px;
    width: 245px;
    padding: 12px;
  }

  .extensions img {
    height: 3rem;
    width: 3rem;
  }

  .extensions .shared {
    font-size: 16px;
  }

  .extensions .unique {
    font-size: 23px;
  }

  a.badge.googleplay img {
    width: 252px;
  }

  a.badge.appstore {
    padding: 16px;
  }

  a.badge.appstore img {
    border-radius: 13px;
    width: 200px;
  }
}

.feature-panel {
  position: relative;
  left: 2rem;
  border-radius: 35px;
  width: 450px;
  height: 300px;
  transition-property: box-shadow;
  transition-duration: 1s;
  margin: 1rem;
  padding: 30px;
}

.feature-panel:hover {
  box-shadow: 0 0 9px 5px #00000005, inset 0 -5px 9px #ffffff49;
}

/* || Forms */

form {
  width: 85vw;
  max-width: 500px;
  margin: 3rem auto;
  background-color: whitesmoke;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
}

.signup-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin: 3rem auto;
}

.signup-layout form,
.signup-layout .hints {
  margin: 0;
}

.form {
  padding: 3rem 2.5rem 2.5rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}

form h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.field {
  position: relative;
}

.field label {
  position: absolute;
  padding: 4px 2px;
}

.field label.inactive {
  color: grey;
  top: 0;
  transition: font-size 0.2s ease-in 0s, color 0.2s ease-in 0s,
    top 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.field label.active {
  color: rgb(177, 177, 177);
  font-size: 14px;
  top: -20px;
  transition: font-size 0.2s ease-in 0s, color 0.2s ease-in 0s,
    top 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.field input {
  width: 100%;
  appearance: none;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid rgb(187, 187, 187);
  padding: 2px 2px 10px;
  color: rgb(20, 20, 20);
}

.field input:focus {
  outline: none;
  border-bottom-color: var(--accent);
}

@media (min-width: 600px) {
  form {
    margin: 5rem auto;
  }

  .signup-layout {
    margin: 5rem auto;
  }

  .form {
    gap: 40px;
    padding: 3rem;
  }

  .name.desktop {
    display: flex;
    justify-content: space-between;
  }
}

.name input {
  width: 100%;
}

.field i {
  color: rgb(61, 61, 61);
  position: absolute;
  right: 12px;
  top: 4px;
}

.password-strength-bar {
  display: flex;
  width: calc(100% - 4px);
  gap: 2px;
  margin: 2px;
}

.password-strength-bar div {
  height: 4px;
  flex-grow: 1;
  background-color: rgb(199, 199, 199);
  border-radius: 5px;
}

.password-strength-bar div.red {
  background-color: rgb(231, 68, 68);
}
.password-strength-bar div.yellow {
  background-color: rgb(226, 223, 19);
}
.password-strength-bar div.orange {
  background-color: orange;
}
.password-strength-bar div.green {
  background-color: rgb(78, 201, 29);
}
.password-strength-bar div.blue {
  background-color: rgb(92, 190, 255);
}

a.forgot-password {
  display: block;
  font-size: 14px;
  color: rgb(177, 177, 177);
  width: fit-content;
  margin: 20px auto 0;
}

@media (min-width: 600px) {
  a.forgot-password {
    margin: 1.5rem 0.5rem 0 auto;
  }
}

.checkbox-form {
  display: flex;
  gap: 5px;
  margin: 5px 0;
}

.checkbox-form + .checkbox-form {
  margin-top: 30px;
}

.checkbox-form.remember-me {
  margin-top: 40px;
}

input[type="checkbox"] {
  flex: 0 0 auto;
  width: 1rem;
  height: 1rem;
  vertical-align: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"]:checked {
  background-color: var(--accent-light);
  border-color: var(--accent-light);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.form button {
  height: 4rem;
  width: 100%;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  margin-left: 0;
  margin-right: 0;
}

.alternative-sign-dialog {
  background-color: var(--accent-darkest);
  color: white;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  border-radius: 0 0 25px 25px;
}

.alternative-sign-dialog a {
  font-weight: bold;
}

@media (min-width: 600px) {
  .checkbox-form.remember-me {
    margin-top: 40px;
  }

  .form button {
    margin-left: auto;
    margin-right: 0;
  }

  .form button.signup {
    width: 11rem;
  }

  .form button.signin {
    width: 8rem;
    margin-top: -85px;
  }

  .alternative-sign-dialog {
    margin-top: 3rem;
  }
}

.hints {
  margin: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 500px;
}

@media (min-width: 600px) {
  .hints {
    display: flex;
  }
}

.hints p {
  text-align: center;
  font-size: 24px;
}

.hints .illustration {
  background-image: url("./assets/images/register_sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 142px;
  width: 400px;
}

.illustration.shield {
  background-position: -17px -833px;
}

.illustration.password {
  background-position: -17px -994px;
}

/* || About */

.background-image {
  min-height: 400px;
  padding: 0 2rem;
  background: #0000007e url(./assets/images/narrow-collage.jpg);
  background-blend-mode: darken;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.background-image * {
  text-align: center;
  color: white;
}

.background-image h2 {
  font-size: 2rem;
}

.background-image p {
  font-size: 1.2rem;
}

.big-infographics {
  display: flex;
  flex-flow: row wrap;
  row-gap: 3rem;
  justify-content: space-between;
  background-color: #9b359b;
  padding: 3rem 2rem;
  /* Just to make it work with Main, sorry for bad code */
  margin-bottom: 2rem;
}

.big-infographics .data {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  width: 180px;
}

.big-infographics .number {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

@media (min-width: 600px) {
  .background-image {
    min-height: 550px;
    background-image: url(./assets/images/broad-collage.jpg);
    padding: 3rem 2rem;
  }

  .background-image h2 {
    font-size: 2.8rem;
  }

  .background-image p {
    font-size: 1.8rem;
  }

  .big-infographics {
    padding: 5rem 8rem;
    margin-bottom: 0;
  }

  .big-infographics .data {
    font-size: 1.5rem;
  }

  .big-infographics .number {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
}

.story {
  max-width: 800px;
  font-size: 20px;
  margin: 0 1rem;
  list-style: decimal inside;
  text-align: justify;
}

.story li + li {
  margin-top: 2rem;
}

.team {
  margin-top: 7rem;
}

.team .container {
  padding: 0 1rem;
  display: grid;
  gap: 1.5rem 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.person {
  margin: auto;
}

.person img {
  width: 100%;
  margin-bottom: 1rem;
}

.person .name {
  font-weight: bold;
}

.person p {
  padding-left: 10px;
}

@media (min-width: 600px) {
  .story {
    max-width: 800px;
    font-size: 26px;
    padding-left: 2rem;
    margin: auto;
  }

  .team .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    gap: 3rem;
    padding: 0 4rem;
  }
}

/* || Pricing */

.pricing-options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: fit-content;
  margin: 0 auto;
}

.plan {
  position: relative;
  height: 650px;
  width: calc(100vw - 3rem);
  padding: 1.5rem;
  background-color: white;
  box-shadow: 0 0.1rem 0.375rem 0 hsla(270, 63%, 47%, 0.05),
    0 0.5rem 1.375rem 0 hsla(270, 63%, 47%, 0.15),
    0 1.25rem 4.25rem 0 hsla(270, 63%, 47%, 0.25);
  border-radius: 1.2rem;

  display: flex;
  flex-flow: column nowrap;
}

@media (min-width: 600px) {
  .pricing-options {
    flex-direction: row;
  }

  .plan {
    width: 450px;
  }
}
.plan .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.memory-badge {
  padding: 0.7rem 0.8rem;
  background-color: rgb(226 219 255);
  border-radius: 5px;
  font-weight: bold;
  font-size: 17px;
}

.plan .price {
  margin: 2rem 0;
  height: 60px;
}

.plan .number,
.plan .currency {
  font-size: 3rem;
}

.plan .period {
  color: rgb(107, 114, 128);
}

ul.included-features {
  flex: 1 0 auto;
}

.included-features li {
  display: flex;
  align-items: center;
}

.green-svg-tick {
  width: 2rem;
  margin-right: 1rem;
}

.get-plan {
  height: 3.5rem;
  border-radius: 9999px;
  background-color: inherit;
  border: var(--accent) 2px solid;
  font-weight: bold;
  font-size: 18px;
}

.get-plan:hover {
  color: whitesmoke;
  background-color: var(--accent);
}

.get-plan:active {
  color: white;
  background-color: var(--accent-darker);
  border-color: var(--accent-darker);
}

.plan.unlimited {
  color: white;
  background-image: linear-gradient(
    338.72deg,
    hsl(290, 80%, 65%) -13.86%,
    hsl(290, 35%, 32%) 41.15%,
    hsl(290, 34%, 16%) 96.82%
  );
  background-color: hsl(300, 28%, 25%);
}

.plan.unlimited .memory-badge {
  color: hsl(290, 34%, 16%);
  background-color: white;
}

.plan.unlimited .get-plan {
  background-color: #0000;
  border: white 2px solid;
}

.plan.unlimited .green-svg-tick {
  stroke: white;
}

.plan.unlimited .get-plan:hover {
  background-color: white;
  color: var(--accent);
}

/* || Support and Help */

app-contact-us > div {
  margin: 3rem 0;
}

@media (min-width: 600px) {
  app-contact-us > div {
    margin: 5rem 0;
  }
}

.message.field {
  position: static;
  display: flex;
  flex-direction: column;
}

.message label {
  position: static;
}

.message textarea {
  margin: 0.8rem 4px 4px;
  border-radius: 5px;
  border: 1px solid grey;
  height: 6rem;
}

.message textarea:focus {
  outline: 1px var(--accent) solid;
}

.submit {
  margin: 0;
}

.other-options-section h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.options-panel article {
  position: relative;
  padding: 2rem;
  padding-left: calc(2rem + 31px);
  /* background-color: rgb(250, 250, 250); */
  display: flex;
  flex-direction: column;
}

.options-panel.desktop article {
  border-radius: 20px;
  background-color: rgb(250, 250, 250);
}

.options-panel h3 {
  color: var(--accent);
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.options-panel p {
  line-height: 1.5rem;
  flex: 1 0 auto;
}

.options-panel a {
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: 1.5rem 0 0 auto;
  padding: 0.6rem 1.5rem;
  color: white;
  background-color: var(--accent);
  border-radius: 7px;
}

.options-panel.mobile {
  display: flex;
  flex-flow: column nowrap;
}

.options-panel.desktop {
  display: none;
  margin: 0 auto;
  max-width: 800px;
  gap: 2rem;
  grid-template-columns: repeat(2, 48%);
}

@media (min-width: 600px) {
  .options-panel.mobile {
    display: none;
  }

  .options-panel.desktop {
    display: grid;
  }
}

h3::before {
  background-size: 80px;
  content: "";
  display: inline-block;
  position: relative;
  top: 6px;
  margin-left: -34px;
  margin-right: 6px;
  height: 28px;
  width: 28px;
}

h3.support::before {
  background-image: url("./assets/images/contact-us-sprite.png");
  background-position: -4px -87px;
}

h3.copyright::before {
  background-image: url("./assets/images/contact-us-sprite.png");
  background-position: -4px -119px;
}

h3.privacy::before {
  background-image: url("./assets/images/contact-us-sprite.png");
  background-position: -4px -183px;
}

h3.security::before {
  background-image: url("./assets/images/contact-us-sprite.png");
  background-position: -4px -247px;
}

h3.bug::before {
  background-image: url("./assets/images/contact-us-sprite.png");
  background-position: -4px -215px;
}

h3.idea::before {
  background-image: url("./assets/images/contact-us-sprite.png");
  background-position: -4px -279px;
}
/* || Footer */

footer {
  background-image: linear-gradient(
    var(--accent-darker) 10px,
    20px,
    var(--accent-dark) 24px
  );
  padding: 3rem 2rem 2rem;
  color: whitesmoke;
}

footer * {
  text-decoration: none;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

@media (min-width: 600px) {
  footer {
    padding: 7rem 5rem 4rem;
  }

  footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}

.promo {
  color: #2e2e2e;
  background: linear-gradient(90deg, rgb(252, 240, 255), rgb(255, 214, 241));
  width: 280px;
  height: 300px;
  padding: 2rem;
  margin-bottom: calc((100% - 280px) / 2);
  border-radius: 25px;
}

@media (min-width: 600px) {
  .promo {
    margin-bottom: 0;
  }
}

.logo-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 2rem;
}

.logo-section img {
  height: 90px;
  width: 195px;
  object-fit: cover;
}

.logo-section .header {
  font-size: 22px;
  font-weight: bold;
  color: rgb(19, 19, 19);
  margin-bottom: 0.2rem;
}

.links-section p {
  text-align: center;
  margin: 1rem 0;
}

.social-media {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.social-media a {
  /*background-color: hsl(0, 0%, 91%);*/
  /*box-shadow: 0 0 2px 2px hsl(0, 0%, 95%);*/
  padding: 5px;
  border-radius: 10px;
}

.desktop.columns {
  display: none;
}

.mobile.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 1rem;
}

@media (min-width: 600px) {
  .desktop.columns {
    display: flex;
    justify-content: space-around;
    flex: 1 0 auto; /* cus it's the child of the container */
  }

  .mobile.columns {
    display: none;
  }
}

.column {
  margin: 4rem 0;
}

.column * {
  display: block;
}

.column .heading {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.column a {
  padding: 0.5rem 1rem;
}

@media (min-width: 600px) {
  .column {
    margin: 0;
  }

  .column a {
    padding: 0.5rem 0;
  }
}
