@import "~normalize.css";
@import "~reset.css";

/* || General Rules */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

* {
  color: inherit;
}

:root {
  --bg-color: whitesmoke;
  --accent-light: #995f98;
  --accent: #764875;
  --accent-dark: #633863;
  --accent-darker: #532f53;
  --accent-darkest: #311b31;
  --active-nav-top: 80px;
}

/* added this part too late, so in some places I have unique rules that need to stay so nothin'll break. also still need to keep account for specificity*/

.desktop {
  display: none;
}

@media (min-width: 600px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

.red {
  color: rgb(207, 2, 2);
}

/* || Header */

/* don't ask, need app-header to be sticky since its gets scrolled. left header.position:sticky here too in case selectors get removed in the end*/
/* no idea what she's talking about, much later. now I need to remove the app-header.position=sticky, cus it caused the header to scroll, lol */
app-header {
  /* position: sticky; */
  z-index: 1;
  top: 0;
}

router-outlet {
  display: none;
}

main {
  height: 100%;
  /* to negate body gap for this specific element. if breaks apart, return to manual margins for other middle elements*/
  background-color: #f5f5f5;
  background-image: inherit;
  box-shadow: 0 0 9px 5px #00000005;
  padding: 5rem 1rem;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1,
h2.h1like {
  font-size: 1.5rem;
  text-align: center;
  color: var(--accent-darker);
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.4rem;
}

main hr {
  width: 30%;
  margin: 3rem auto;
  border: solid 1px var(--accent-light);
}

@media (min-width: 600px) {
  h1,
  h2.h1like {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  main p {
    font-size: 1.4rem;
  }
}
