<div>
    <div class="background-image">
        <h2>Our Vision</h2>
        <p>We believe a better world starts with privacy, respect and freedom</p>
        <h2>Our Mission</h2>
        <p>To provide you with the most comfortable and accountable ways of managing own files, memories and content, as you deserve it</p>
    </div>
    <div class="big-infographics">
        <div class="data">
            <div class="number">1+</div>
            Registered Users
        </div>
        <div class="data">
            <div class="number">0+</div>
            Daily Active Users
        </div>
        <div class="data">
            <div class="number">1+</div>
            Countries
        </div>
        <div class="data">
            <div class="number">0+</div>
            Files uploaded
        </div>
    </div>
</div>

<main>
    <h2 class="h1like">Our Story</h2>
    <ol class="story">
        <li>This project was born in 2022 and started out as a simple capstone project. A small beta-test among friends was conducted after the first run. Although at the beginning it was never
            going to evolve into something real, working and meaningful, it met tremendous support and positive feedback from the first users, which made it clear that such product is in demand.
        </li>
        <li>After graduating, the creator concentrated on this project and after several months of work, in September 2023, the first version was complete. Hovewer, much still was need to be done.
        </li>
        <li>The [company_name] was founded on October 2023, when a designer joined the team, and several cutomers purchased pro subscription.</li>
        <li>In January 2024, the project reached 5000 registered users and started to generate profit.</li>
        <li>In August 2024, the project became a part of the Microsoft ecosystem and app family, which opened completely new possibilities for the gorwing team that, at the time, was comprised of
            6 employees.</li>
    </ol>

    <div class="team">
        <h2 class="h1like">Meet our Team</h2>
        <div class="container">
            <div class="person">
                <img src="./assets/images/1st-member.jpg" alt="">
                <p class="name">Megan Werner</p>
                <p class="position">CEO</p>
            </div>
            <div class="person">
                <img src="./assets/images/2nd-member.jpg" alt="">
                <p class="name">Ella Booker</p>
                <p class="position">Engineering Manager</p>
            </div>
            <div class="person">
                <img src="./assets/images/3rd-member.jpg" alt="">
                <p class="name">Stewart Campbell</p>
                <p class="position">Some other</p>
            </div>
            <div class="person">
                <img src="./assets/images/4th-member.jpg" alt="">
                <p class="name">Tina Hodges</p>
                <p class="position">Random Job</p>
            </div>
        </div>
    </div>

</main>